@model BibliotecaOnline.Models.Emprestimo

@{
    ViewData["Title"] = "Editar Empréstimo";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Editar Empréstimo</h2>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Codigo" />
        <div class="mb-3">
            <label asp-for="DataRetirada" class="form-label"></label>
            <input asp-for="DataRetirada" class="form-control" />
            <span asp-validation-for="DataRetirada" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DataEntrega" class="form-label"></label>
            <input asp-for="DataEntrega" class="form-control" />
            <span asp-validation-for="DataEntrega" class="text-danger"></span>
        </div>

        <div class="text-center">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/validacao-emprestimo.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
